/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .container {
        max-width: 720px;
    }
    .header__top,
    .header__wrapper > .search-main,
    .header__wrapper > .item-header,
    .header__bottom {
        display: none;
    }
    body {
        font-size: 14px;
    }
    .billbord {
        padding-top: 100px;
        padding-bottom: 130px; 
        background-position: center top;
        background-attachment: initial;
    }
    .title-big {
        font-size: 35px;
        margin-bottom: 30px;
    }
    .row {
        margin: 0 -6px;
    }
    .row > div {
        padding: 0 6px;
    }
    .title-block {
        font-size: 18px;
    }
    .billbord__form {
        padding: 30px;
        margin-bottom: 30px;
        border-radius: 16px;
        max-width: 100%;
    }
    .item-form {
        margin-bottom: 15px;
    }
    .item-form input {
        height: 40px;
        padding: 0 15px;
        font-size: 14px;
        border-radius: 6px;
    }
    .billbord__info {
        margin: 0;
    }
    .billbord__form p {
        margin-bottom: 15px;
        max-width: 100%;
    }
    .btn-main {
        height: 44px;
        padding: 0 20px;
        font-size: 14px;
        border-radius: 6px;
    }
    .checkbox {
        font-size: 12px;
        margin-top: 13px;
    }
    .checkbox label > span:after,
    .checkbox label > span:before {
        top: 2px;
        width: 19px;
        height: 19px;
    }
    .checkbox label > span:after {
        font-size: 10px;
    }
    .checkbox label > span {
        padding-left: 30px;
        padding-top: 3px;
    }
    .sandwich {
        border-radius: 6px;
        width: 36px;
        height: 36px;
        padding-top: 12px;
        padding-left: 11px;
    }
    .sandwich span {
        width: 16px;
        height: 2px;
        border-radius: 4px;
    }
    .sandwich span.sw-topper {
        width: 10px;
    }
    .sw-topper {
        top: 1px;
    }
    .sw-bottom {
        top: 4px;
    }
    .sw-footer {
        top: 7px;
    }
    .sandwich.active .sw-topper {
        width: 16px;
    }
    .sandwich.active .sw-topper {
        top: 5px;
    }
    .sandwich.active .sw-footer {
        top: 1px;
    }
    .logo img {
        width: 100px;
    }
    .billbord__form .title-block {
        margin-bottom: 12px;
    }
    .billbord__info li {
        margin-bottom: 15px;
    }
    .billbord__info li {
        padding-left: 35px;
    }
    .billbord__info {
        font-size: 13px;
        padding: 25px;
    }
    .billbord__info li::before {
        width: 24px;
        height: 24px;
        top: -4px;
        background-size: 11px auto;
    }
    .item-category {
        height: 300px;
        padding: 20px;
    }
    .item-category__image,
    .item-category__image img,
    .item-category__image::after {
        border-radius: 16px;
    }
    .row.row_categories > div {
        margin-bottom: 12px;
    }
    .row.row_categories {
        margin-bottom: -12px;
    }
    .item-category .title-block {
        min-height: 44px;
    }
    .title-item {
        font-size: 16px;
    }
    .text-big {
        font-size: 15px;
    }
    .item-service .text-big {
        margin-bottom: 10px;
    }
    .row_services .col-lg-3 .item-service .title-item {
        margin-bottom: 14px;
    }
    .item-service ul {
        margin-right: 0;
    }
    .item-service li {
        margin-top: 8px;
        padding-left: 20px;
    }
    .item-service li::before {
        left: 2px;
    }
    .row.row_services > div {
        margin-bottom: 12px;
    }
    .row.row_services {
        margin-bottom: -12px;
    }
    .item-service {
        padding: 15px;
        border-radius: 16px;
    }
    .categories {
        margin-top: -70px;
        padding-bottom: 35px;
    }
    .services {
        padding: 30px 0;
    }
    .title-section {
        font-size: 26px;
    }
    .head-section {
        padding: 25px 0;
    }
    .slider-partners .slick-slide {
        padding: 7px;
    }
    .slider-partners .slick-list {
        margin: -7px;
    }
    .item-partner {
        height: 80px;
        padding: 15px;
        border-radius: 16px;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.07);
    }
    .slick-arrow {
        width: 30px;
        height: 30px;
        font-size: 13px;
    }
    .slick-prev {
        left: -40px;
    }
    .slick-next {
        right: -40px;
    }
    .dealer .title-section {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .dealer__info img {
        width: 160px;
        margin-bottom: 20px;
    }
    .dealer__info {
        font-size: 14px;
        padding: 30px;
        border-radius: 16px;
        min-height: initial;
        margin-bottom: 20px;
    }
    .dealer__image img {
        border-radius: 20px;
    }
    .dealer__buttons {
        padding-top: 20px;
        gap: 15px;
    }
    .dealer__buttons .btn-main {
        width: 200px;
    }
    .dealer {
        padding: 40px 0;
    }
    .row.row_steps > div,
    .row.row_steps > div:nth-child(odd) {
        margin: 0;
        margin-bottom: 12px;
    }
    .item-step {
        padding: 20px;
        border-radius: 16px;
        min-height: 100%;
        position: relative;
    }
    .item-step::before {
        width: 32px;
        height: 32px;
        font-size: 16px;
        border-width: 3px;
        position: relative;
        margin: 0 !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
    }
    .item-step .title-item {
        margin: 10px 0;
    }
    .steps {
        padding: 40px 0;
        background-image: none;
    }
    .steps .title-section {
        margin-bottom: 20px;
    }
    .footer {
        font-size: 14px;
        padding-top: 30px;
    }
    .footer .logo img {
        width: 140px;
    }
    .logo-descr {
        font-size: 13px;
        margin-top: 16px;
        max-width: 300px;
    }
    .footer .logo {
        margin: 0;
    }
    .footer__contacts {
        width: 100%;
    }
    .footer__nav_big li a, .footer__title {
        font-size: 15px;
        margin-bottom: 7px;
        padding: 7px 0;
        line-height: 160%;
        border-bottom: 1px solid #000;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer__value {
        font-size: 15px;
        margin-top: 10px;
    }
    .footer__nav {
        max-width: 100%;
    }
    .footer__content {
        display: none;
        padding-top: 15px;
    }
    .list-socials a {
        width: 36px;
        height: 36px;
    }
    .list-socials a img {
        width: 15px;
    }
    .list-socials li {
        margin-right: 9px;
    }
    .footer__nav li {
        margin-bottom: 10px;
    }
    .footer__nav_big li {
        margin: 0;
    }
    .footer-bottom {
        padding: 10px 0;
        font-size: 13px;
        border: none;
    }
    .create img {
        width: 58px;
    }
    .footer-bottom .row > div {
        margin-bottom: 10px;
    }
    .btn_top {
        width: 36px;
        height: 36px;
        font-size: 16px;
        margin-top: -40px;
    }
    .footer__title i {
        display: block;
        transition: all 0.3s;
    }
    .footer__title.active i {
        transform: rotate(180deg);
    }
    .footer .list-socials {
        margin: 15px 0;
    }
    .services .title-section {
        margin-bottom: 20px;
    }
    .header__wrapper {
        padding: 0;
        position: static;
    }
    .header {
        padding: 10px 0;
        font-size: 13px;
    }
    .phone-mobile {
        width: 36px;
        height: 36px;
        font-size: 14px;
        border-radius: 6px;
        background: #F9CE89;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
    }
    .sandwich_mobile {
        display: flex;
    }
    .sandwich_catalog {
        display: none;
    }
    .menu-dropdown {
        width: 100%;
        top: 100%;
        left: 0;
        max-height: 100vh;
        padding: 15px 15px;
        padding-bottom: 60px;
        display: none;
        overflow: auto;
        background-color: #fff;
        position: absolute;
    }
    .menu-dropdown .menu {
        display: block;
        margin: 0;
      }
      .navigation li a,
      .menu > li > a {
        font-size: 14px;
        padding: 10px 0;
        height: auto;
        border-bottom: 1px solid #000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        position: relative;
      }
      .menu > li {
        max-width: 100%;
      }
      .search-main input {
        height: 40px;
        padding: 0 15px;
        border-radius: 6px;
        font-size: 14px;
      }
      .btn-search {
        width: 40px;
        height: 40px;
        background-size: 18px auto;
      }
      .search-main {
        width: 100%;
        margin-bottom: 15px;
      }
      .item-header__title {
        font-size: 15px;
        margin-bottom: 3px;
      }
      .item-header {
        margin-top: 15px;
      }
      .menu-overlay {
        top: 58px;
        background: rgba(0, 0, 0, 0.7);
    }
    .header.active {
        background: #fff;
    }
    .item-service__bottom {
        padding-top: 15px;
    }
    .footer__requisites p {
        margin-bottom: 7px;
    }
    .item-news__title {
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 12px;
    }
    .item-news {
        padding: 14px;
        font-size: 12px;
        line-height: 157%;
        border-radius: 16px;
    }
    .item-news__date strong {
        font-size: 30px;
        margin-right: 10px;
    }
    .item-news__image {
        width: 180px;
        height: 92px;
        border-radius: 16px;
    }
    .item-news__image img {
        border-radius: 16px;
    }
    .item-news__head {
        margin-bottom: 15px;
    }
    .row.row_main > div {
        margin-bottom: 14px;
    }
    .row.row_main {
        margin-bottom: -14px;
    }
    .page-news {
        padding-bottom: 40px;
    }
    .wrapper_page {
        padding-top: 57px;
    }
    .breadcrumbs {
        font-size: 13px;
        padding: 15px 0;
        display: block;
    }
    .breadcrumbs li {
        display: inline;
    }
    .breadcrumbs li::after {
        margin: 0 10px;
    }
    .page-news .title-section {
        margin-bottom: 15px;
    }
    .pager {
        height: 32px;
        width: 400px;
        margin-top: 30px;
    }
    .prev.page-numbers, .next.page-numbers {
        width: 32px;
        height: 32px;
        font-size: 14px;
    }
    .page-numbers {
        margin: 0 15px;
    }
    .wrapper_page {
        overflow: hidden;
    }
    .page-article .breadcrumbs {
        padding-bottom: 15px;
    }
    .article-content .row > div {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }
    .article-content h1 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .article-content p {
        margin-bottom: 15px;
    }
    .article-content blockquote {
        margin: 20px 0;
        padding: 20px 15px;
    }
    .article-content h2 {
        margin: 15px 0;
        font-size: 18px;
        line-height: 149%;
    }
    .article-content ul li {
        padding-left: 20px;
        margin-bottom: 15px;
    }
    .article-content ul li::before {
        left: 3px;
    }
    .page-article .item-news__image {
        width: 180px;
        height: 92px;
    }
    .page-article .item-news {
        margin-bottom: 20px;
    }
    .page-article .item-news:last-child {
        margin-bottom: 0;
    }
    .page-article {
        margin-bottom: 40px;
    }
    .sidebar-article {
        margin-top: 30px;
        top: 0;
        position: relative;
    }
    .article-content img {
        border-radius: 16px;
    }
    .item-contact__title {
        font-size: 16px;
        margin-bottom: 12px;
    }
    .item-contact {
        max-width: 300px;
    }
    .item-contact__subtitle {
        font-size: 13px;
        margin-bottom: 10px;
    }
    .socials-main img {
        width: 38px;
    }
    #map {
        height: 300px;
        margin-top: 20px;
        border-radius: 16px;
    }
    .page-contacts .form-page {
        top: 0;
        position: relative;
        margin-top: 20px;
    }
    .contacts-block .row > div {
        margin-bottom: 20px;
    }
    .contacts-block .row {
        margin-bottom: -20px;
    }
    .item-form textarea {
        padding-top: 15px;
        height: 88px;
    }
    .form-page .item-form input {
        height: 40px;
    }
    .item-form textarea {
        font-size: 14px;
        padding: 0 15px;
        padding-top: 15px;
        border-radius: 6px;
    }
    .form-page .item-form {
        margin-bottom: 15px;
    }
    .form-page {
        padding: 25px;
        border-radius: 16px;
    }
    .title-form {
        font-size: 17px;
        margin-bottom: 11px;
    }
    .descr-form {
        font-size: 13px;
        margin-bottom: 16px;
    }
    .page-contacts .title-section {
        margin-bottom: 15px;
    }
    .contacts-block {
        padding: 20px 15px;
        border-radius: 16px;
    }
    .page-contacts {
        padding-bottom: 40px;
    }
    .page-documents .title-section {
        margin-bottom: 18px;
    }
    .documents-block {
        padding: 25px;
        border-radius: 16px;
    }
    .documents-block .row > div {
        margin-bottom: 12px;
    }
    .documents-block .row {
        margin-bottom: -12px;
    }
    .item-doc {
        padding: 5px;
        height: 169px;
    }
    .page-documents {
        padding-bottom: 40px;
    }
    .menu-dropdown__mobile {
        display: block;
    }
    .navigation__haschild {
        display: block;
    }
    .navigation li ul {
        padding-left: 15px;
        display: none;
    }
    .navigation li ul li a {
        border: none;
    }
    .navigation__haschild > a::after {
        position: relative;
        content: "\f078";
        width: 24px;
        height: 24px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        font-family: "Font Awesome 5 Pro";
        font-weight: 400;
        line-height: 1;
        transition: all 0.3s;
        font-size: 15px;
    }
    .navigation__haschild.active > a::after {
        transform: rotate(180deg);
    }
    .page-mockup {
        padding-top: 40px;
        padding-bottom: 55px;
    }
    .mockup {
        height: 300px;
        padding: 0 20px;
        border-radius: 16px;
        background-position: 23% 50%;
    }
    .mockup__content {
        max-width: 224px;
    }
    .mockup__title {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .mockup__descr {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .mockup .btn-main {
        padding: 0 32px;
    }
    .page-mockup_thanks .mockup__content {
        max-width: 350px;
    }
    .page-mockup_thanks .mockup__title {
        font-size: 27px;
        margin-bottom: 15px;
    }
    .page-mockup_thanks .mockup__descr {
        margin-bottom: 20px;
    }
    .page-portfolio {
        padding-bottom: 40px;
    }
    .page-portfolio .title-section {
        margin-bottom: 15px;
    }
    .tabs-portfolio a {
        padding: 0 15px;
        height: 36px;
        font-size: 13px;
        border-radius: 6px;
    }
    .tabs-portfolio li {
        margin-right: 6px;
        margin-bottom: 7px;
    }
    .slider-portfolio > .slick-list > .slick-track > .slick-slide {
        padding: 20px;
    }
    .slider-portfolio > .slick-list {
        margin: -20px;
    }
    .item-portfolio__image {
        height: 233px;
        border-radius: 16px;
    }
    .item-portfolio__image img {
        border-radius: 16px;
    }
    .item-portfolio__slider {
        padding-bottom: 25px;
        margin-bottom: 25px;
    }
    .item-portfolio__info {
        padding: 20px;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
        border-radius: 16px;
        font-size: 13px;
    }
    .title-middle {
        font-size: 17px;
        margin-bottom: 15px;
    }
    .item-portfolio__info .title-middle {
        max-width: 100%;
    }
    .title-min {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .item-portfolio__info .title-min {
        margin-top: 15px;
    }
    .item-portfolio__info .btn-main {
        padding: 0 30px;
        margin-top: 20px;
    }
    .slider-portfolio .slick-arrow {
        bottom: 0;
        top: auto;
        transform: none;
    }
    .slider-portfolio .slick-prev {
        left: 0;
    }
    .slider-portfolio .slick-next {
        right: 0;
    }
    .slider-portfolio {
        padding-bottom: 50px;
    }
    .billbord-page {
        min-height: 300px;
    }
    .billbord-page .descr-big {
        margin-top: 20px;
        max-width: 350px;
    }
    .descr-big {
        font-size: 18px;
    }
    .about-text {
        padding: 15px;
        margin-top: -35px;
        border-radius: 16px;
    }
    .about-production {
        font-size: 14px;
        padding: 20px;
        margin-top: 20px;
        border-width: 8px;
    }  
    .about-production img {
        width: 83px;
        margin-right: 15px;
    }
    .page-about .descr-big {
        margin-top: 32px;
        margin-bottom: 18px;
    }
    .row.row_team, .row.row_about {
        margin-bottom: -18px;
    }
    .row.row_team > div, .row.row_about > div {
        margin-bottom: 18px;
    }
    .item-about {
        padding: 15px;
        font-size: 15px;
        border-radius: 16px;
        box-shadow: 0 0 17px rgba(0, 0, 0, 0.07);
    }
    .bottom-button {
        padding-top: 25px;
    }
    .quote {
        font-size: 17px;
        padding: 20px;
        margin-top: 32px;
        border-width: 8px;
    }
    .quote p {
        margin-bottom: 15px;
    }
    .item-team__image {
        height: 420px;
        margin-bottom: 15px;
        border-radius: 16px;
        box-shadow: 0 0 17px rgba(0, 0, 0, 0.07);
    }
    .item-team__image img {
        border-radius: 16px;
    }
    .item-team {
        font-size: 17px;
    }
    .page-about {
        padding-bottom: 50px;
    }
    .billbord-info {
        padding: 15px;
        max-width: 100%;
        top: 25px;
        border-radius: 16px;
    }
    .page-service {
        padding-top: 45px;
        padding-bottom: 35px;
    }
    .descr-big + .title-middle {
        margin-top: 10px;
    }
    .page-service .title-middle {
        margin-bottom: 25px;
    }
    .row_main + .title-middle {
        margin-top: 15px;
    }
    .service-technologies {
        padding: 15px;
        margin-bottom: 20px;
        font-size: 13px;
        border-radius: 16px;
        display: block;
    }
    .service-technologies img {
        width: 160px;
        margin-bottom: 15px;
        margin-right: 0;
    }
    .advantage-simple {
        margin-top: 20px;
    }
    .advantage-simple .title-middle {
        margin: 0;
    }
    .about-service {
        font-size: 14px;
        padding: 15px;
        margin-top: 20px;
        border-radius: 16px;
    }
    .about-service img {
        border-radius: 16px;
        margin-top: 20px;
    }
    .portfolio .title-section {
        margin-bottom: 16px;
    }
    .portfolio {
        padding-bottom: 40px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .dealer .title-section {
        font-size: 18px;
    }
    .slider-partners {
        padding-bottom: 30px;
    }
    .item-category .title-block {
        font-size: 15px;
        min-height: initial;
    }
    .billbord__info {
        display: none;
    }
    .billbord {
        padding-bottom: 90px;
    }
    .title-big {
        font-size: 26px;
        margin-bottom: 22px;
    }
    .item-category {
        height: 260px;
        padding: 15px;
    }
    .col-doc {
        width: 33.3333%;
    }
    .item-doc {
        height: 178px;
        max-width: 126px;
        margin: 0 auto;
    }
    .page-documents .title-section {
        font-size: 22px;
    }
    .item-team {
        margin: 0 auto;
        max-width: 338px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .item-category {
        height: 225px;
        padding: 10px;
    }
    .title-section {
        font-size: 20px;
    }
    .title-big {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .dealer .title-section {
        font-size: 16px;
    }
    .head-section .title-section {
        font-size: 18px;
    }
    .page-documents .title-section {
        font-size: 20px;
    }
    .documents-block {
        padding: 20px 15px;
    }
    .item-doc {
        height: 134px;
        max-width: 94px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .footer__content {
        display: block !important;
    }
    .menu-mobile {
        display: none !important;
    }
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1600px) {

}